.leftSideBar{
    height: 100vh;
    width: 240px;
    background-color: $white-color;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    box-shadow: $primary-boxShadow;
    .leftSideBar_contant{
        height: 100vh;
        padding: 20px 0 20px 20px;
        position: relative;
        .logo{
            height: 65px;
            width: auto;
            img{
                max-width: 100%;
                max-height: 100%;
            }
        }

        .sideBtn_list_content{
            width: 100%;
            margin-top: 30px;
            .sideBtn_list{
                margin-bottom: 10px;
                padding: 5px 10px 5px 25px; 
                justify-content: flex-start;
                align-items: center;
                &:hover{
                    background-image: linear-gradient(to right, #ffffff3b, #7fb7f318, #7fb7f345, #7fb7f35f, #7fb7f35f);
                    border-right: 3px solid $primary-color;
                }
                
                &:hover a{
                    color: $black-color;
                }
                    a{
                    //    text-transform:capitalize;
                       color: $black2-color;
                       font-weight: 400;
                       display: flex;
                       align-items: center;
                       font-size: 14px;
                       .MuiSvgIcon-root{
                           margin-right: 8px;
                    }
                }
            }
            .active{
                background-image: linear-gradient(to right, #ffffff3b, #7fb7f318, #7fb7f345, #7fb7f35f, #7fb7f35f);
                border-right: 3px solid $primary-color; 
                a{
                    color: $black-color;
                }
            }
            .list_devider{
                margin-right: 35px;
                margin-left: 20px;
                margin-bottom:10px;
                margin-top:20px;
            }
            .Mui-selected{
                background-color: $primary-background;
                color: #000;
            }
        }
        .sign_out_btn{
            position: absolute;
            bottom: 30px;
            left: 50%;
            transform: translateX(-50%);
            background-color: $primary-color;
            .MuiSvgIcon-root{
                margin-right: 2px;
            }
        }
    }
}
.home_page_body_content{
    padding-left: 250px;
    padding-right: 340px;
    padding-top: 70px;
    width: 100%;
}

.myfile_page_body_content{
    padding-left: 250px;
    padding-top: 70px;
    width: 100%;
}

.journal_page_body_content{
    padding-left: 250px;
    width: 100%; 
}
.note_page_body_content{
    padding-left: 260px;
    width: 100%; 
    padding-right: 20px;
}

.setting_page_body_content{
    padding-left: 250px; 
    width: 100%; 
}