/*   Variable List
-----------------------------------*/

// Colors
$primary-color: #007bff;
$secondary-color: #FF8B13;
$black-color: #333;
$black2-color: rgb(94, 94, 94);
$white-color:#fff;
$offwhite-color:#c7c6c6; 
$red-color:#FF4A4A;
$green-color: #19891f;
$yellow-color: #F5EA5A;
$text:#868383;

// Fonts Family
$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Open Sans', sans-serif;
$font-3: 'Frank Ruhl Libre', serif;
$font-4: 'Noto Serif', serif;

// Border-Color
$primary-border: rgba(145, 158, 171, 0.24);
$secondary-border: #b1aeae;

// background 
$primary-background: rgb(225, 229, 234);
$secondary-background: #F9F9F9;
$third-background: #abcff1b7;


// Box-Shadow 
$primary-boxShadow: 0px 1px 1px 1px #00000021;
$secondary-boxShadow: 1px 1.332px 4px 2px rgb(163 161 161 / 30%);
$third-boxShadow: 0px 1px 1px 1px #7d7b7b21;



 